/* Flex container for columns */
.columns {
  display: flex;
  justify-content: space-between;
}

/* Individual column */
.column {
  flex: 1;
  margin: 10px;
  padding: 10px;
}

/* Heading styles */
h1 {
  margin-left: 10px;
}

h2 {
  margin-top: 0;
}

/* Candidate box styles */
.candidate-box {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.2), 5px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Paragraph styles inside candidate box */
.candidate-box p {
  margin: 0;
  padding-left: 30px;
  line-height: 1.5;
}

/* Styling for the first paragraph inside candidate box */
.candidate-box p:first-child {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

/* Icon styles inside candidate box */
.candidate-box img {
  width: 18px;
  height: 18px;
  position: absolute;
  margin-left: 5px;
  margin-top: 2px;
}

.candidate-box {
  margin-bottom: 10px;
}

.move-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
